    <div class="form__container">
      <label class="form__container__label">Password</label>
      <input [formControl]="formControlPassword" [type]="inputType"  placeholder="Please enter your password..."/>
      <ng-container *ngIf="reliability$ | async as reliability">
      <div class="form__line-container">

        <div
          class="form__line form__line--one"
          [ngClass]="{
          'form__line_low': reliability === reliability.LOW || reliability === reliability.SHORT,
          'form__line_middle': reliability === reliability.MIDDLE,
          'form__line_high': reliability === reliability.HIGH
          }"
        >

        </div>

        <div
          class="form__line form__line--one"
          [ngClass]="{
          'form__line_middle': reliability === reliability.MIDDLE,
          'form__line_high': reliability === reliability.HIGH,
           'form__line_low': reliability === reliability.SHORT
          }"
        >

        </div>

        <div
          class="form__line form__line--one"
          [ngClass]="{
          'form__line_high': reliability === reliability.HIGH,
           'form__line_low': reliability === reliability.SHORT
          }"
        >

        </div>

      </div>
      </ng-container>



<ng-container *ngIf="confirmPassword">
  <label class="form__container__label">Confirm Password</label>
  <input [formControl]="formControlConfirmPassword" [type]="inputType"  placeholder="Please enter your password..."/>

  <div class="form__line-container">
<ng-container *ngIf="isConfirm$ | async as isConfirm">
    <div
      class="form__line form__line--one"
      [ngClass]="{
          'form__line_high': isConfirm === reliability.HIGH,
          'form__line_low': isConfirm === reliability.LOW
          }"
    >

    </div>
</ng-container>

  </div>
</ng-container>
    </div>
