.input {
  border: 1px solid #bababa;
  border-radius: 6px;
  padding: 6px;
  outline: none;

  transition: all 0.2s linear;

  &:focus {
    scale: 1.02;
  }

  &__short {
    border: 2px solid #ff1744;
  }

  &__low {
    border: 2px solid #bababa;
  }

  &__middle {
    border: 2px solid #ffc400;
  }

  &__high {
    border: 2px solid #64dd17;
  }

  // &__short {
  //   border: #ff1744;
  // }
}

.form__container {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.form__container__label {
  margin-bottom: 6px;
}

.form__line-container {
  margin: 6px 0 6px 0;
  display: flex;
  gap: 6px;
}

.form__line {
  flex: 1;
  display: flex;
  height: 6px;
  border-radius: 4px;

  background-color: #e0e0e0;

  &_low {
    background-color: #ff1744;
  }

  &_middle {
    background-color: #ffc400;
  }

  &_high {
    background-color: #64dd17;
  }
}
