<div class="form__container" *ngIf="reliability$ | async as reliability">
  <label for="input" class="form__container__label">Password</label>
  <input
    id="input"
    [formControl]="formControlPassword"
    [type]="inputType"
    placeholder="Please enter your password..."
    class="input"
    [ngClass]="{
      input__short: reliability === Reliability.SHORT,
      input__low: reliability === Reliability.LOW,
      input__middle: reliability === Reliability.MIDDLE,
      input__high: reliability === Reliability.HIGH,
    }"
  />
  <ng-container>
    <div class="form__line-container">
      <div
        class="form__line"
        [ngClass]="{
          form__line_low:
            reliability === Reliability.LOW ||
            reliability === Reliability.SHORT,
          form__line_middle: reliability === Reliability.MIDDLE,
          form__line_high: reliability === Reliability.HIGH
        }"
      ></div>
      <div
        class="form__line"
        [ngClass]="{
          form__line_middle: reliability === Reliability.MIDDLE,
          form__line_high: reliability === Reliability.HIGH,
          form__line_low: reliability === Reliability.SHORT
        }"
      ></div>
      <div
        class="form__line"
        [ngClass]="{
          form__line_high: reliability === Reliability.HIGH,
          form__line_low: reliability === Reliability.SHORT
        }"
      ></div>
    </div>
  </ng-container>

  <ng-container *ngIf="confirmPassword">
    <label for="confirm" class="form__container__label">Confirm Password</label>
    <input
      class="input"
      id="confirm"
      [formControl]="formControlConfirmPassword"
      [type]="inputType"
      placeholder="Please enter your password..."
    />

    <div class="form__line-container">
      <ng-container *ngIf="isConfirm$ | async as isConfirm">
        <div
          class="form__line form__line--one"
          [ngClass]="{
            form__line_high: isConfirm === Reliability.HIGH,
            form__line_low: isConfirm === Reliability.LOW
          }"
        ></div>
      </ng-container>
    </div>
  </ng-container>
</div>
