
input {
  border: 1px solid #bababa;
  border-radius: 6px;
  padding: 6px;
}

.form__container {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.form__container__label {
  margin-bottom: 6px;
}

.form__line-container {
  margin: 6px 0 6px 0;
  display: flex;
  gap: 6px;
}

.form__line {
  flex: 1;
  display: flex;
  height: 6px;
  border-radius: 4px;

  background-color: #e0e0e0;

  &_low {
    background-color: #b30101;
  }

  &_middle {
    background-color: #c29800;
  }

  &_high {
    background-color: green;
  }
}
